.section {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
