.containerLogin {
	width: 35%;
	height: 80dvh;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.links {
	display: flex;
	gap: 1.05rem;
	flex-flow: column;
	a {
		color: var(--main-color) !important;
		transition: all 0.3s;

		&:hover {
			font-weight: bolder;
		}
	}
	align-items: center;
}

.group {
	width: 100%;
	display: flex;
	align-items: left;
	flex-flow: column;
	justify-content: left;
	gap: 0.2rem;

	p {
		text-align: left;
		margin: 0px;
	}
}

.error {
	margin: 0;
	font-size: small;
	color: red !important;
}
