.contentRow {
	margin: 1rem 5rem;
	padding: 2rem;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem rgb(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	display: flex;
	flex-flow: column;
	gap: 1.5rem;

	.titleSection {
		text-align: left;
	}
}

.articleContainerList {
	display: flex;
	flex-flow: row;
	gap: 4rem;
}

.articleContent {
	flex: 33%;
	display: flex;
	flex-flow: column;
	gap: 1rem;
	transition: all 0.2s;
	cursor: pointer;

	&:hover {
		transform: translateY(-2%);
		/* transform: scale(1.05); */
	}
}

.articleContent img {
	display: inline-block;
	border-radius: 5px;
	height: 250px;
}
