:root {
    --purple: #4f46e5;
    --main-color-hover: #014c9c;
    --main-color: #0072cf;
    --main-color-light: #c0daf0;
    --text-default: #000000;

    --text-link-grey: #d9d9d9d9;
    --button-grey: #d9d9d9d9;
    --button-grey-hover: #979595d9;
    --dark-grey: #333333;

    --box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    --background-blue: linear-gradient(90deg, #1a1a2e 0%, #16213e 100%);
}
